body{
    background-image: url(../starter-code/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#menu li:nth-child(3) {
    border-bottom: 4px solid white;
}
#content{
    color: rgb(206, 204, 204);
    display: flex;
    margin-top: 5%;
    margin-bottom: 1%;
}
#descrip h3{
    font-size: 25px;
    font-weight: 100;
}
#descrip h2{
    font-size: 35px;
    color: rgba(255, 255, 255, 0.354);
    margin-top: 35%;
    font-weight: 100;
}
#descrip h1{
    font-size: 65PX;
    font-weight: 100;
    margin: 2% 0;
}
#descrip p{
    font-weight: 100;
    line-height: 30px;
    font-size: 18px;
    color:rgb(160, 180, 188);
    margin-right: 28%;
}
#puntos ul{
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 10%;
}
#puntos li{
    margin-right: 4%;
    margin-left: 0;
}
.punto a{
    display: inline-block;
    background-color: gray;
    padding: 7px;
    
    text-decoration: none;
    border-radius: 100%;
}
.punto a:hover{
    background-color: white;
}
#derecha{
    min-width:45% ;
    margin-left: 6%;
}
#izquierda{
    min-width: 45%;
    margin-left: 10%;
}