body{
    background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
#menu li:nth-child(2) {
    border-bottom: 4px solid white;
}
/* INICIO CENTRO */
#content {
    display: flex;
}
#izquierda #text{
    margin-top: 20%;
    margin-left: 10%;
    color: rgb(206, 204, 204);
}
#text h1{
    margin-bottom: 25%;
}
#derecha{
    color: rgb(206, 204, 204);
    margin-top: 10%;
    list-style: none;
    margin-right:20% ;
}
#derecha #men{
    display: flex;
    margin-right:0 ;
}
#men li a{
    text-decoration: none;
    color:rgb(206, 204, 204);
    
}
#men li{
    padding-bottom: 3%;
    margin-left: 0;
}
#men li :hover{
    padding: 15px 0;
    border-bottom: 3px solid rgb(152, 152, 152);
}
#derecha #texto{
    margin-bottom: 16%;
    border-bottom:1px solid ;
}
#texto h1{
    font-size: 100px;
    font-weight: 100;
    margin: 10% 0;
}
#texto p{
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 15%;
    color: rgb(160, 180, 188);
}
#bajo {
    display: flex;
    margin-bottom: 50%;
}



