body{
    background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#menu li:nth-child(2) {
    border-bottom: 4px solid white;
}
/* INICIO CENTRO */
#content {
    
    display: flex;
}
#izquierda #text{
    margin-top: 20%;
    margin-left: 10%;
    color: rgb(206, 204, 204);
}
#text h1{
    margin-bottom: 25%;
    font-weight: 100;
}
#izquierda{
    min-width: 45%;
    margin-left: 10%;
}
#derecha{
    color: rgb(206, 204, 204);
    margin-top: 10%;
    list-style: none;
    margin-right:20% ;
    min-width: 25%;
}
#derecha #men{
    display: flex;
    margin-right:0 ;
}
#men li a{
    text-decoration: none;
    color:rgb(206, 204, 204);
}
#men li{
    padding-bottom: 3%;
    margin-left: 0;
}
#men li :hover{
    padding: 15px 0;
    border-bottom: 3px solid rgb(152, 152, 152);
}
#derecha #texto{
    margin-bottom: 7%;
    border-bottom:1px solid rgba(255, 255, 255, 0.354) ;
}
#texto h1{
    font-size: 100px;
    font-weight: 100;
    margin: 10% 0;
}
#texto p{
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 15%;
    color: rgb(160, 180, 188);
}
#bajo {
    display: flex;
    margin-bottom: 50%;
}
#bajo .card{
    margin-left: 0;
}
.card h4{
    font-weight: 100;
    color: rgb(160, 180, 188);
}
.card h1{
    font-weight: 100;
}
@media (max-width:768px){
    #content{
        flex-direction: column;
    }
    #derecha{
        width: 85%; 
    }
    #derecha #men{
        margin-left: 15%;
    }
    #derecha #texto{
        margin-left: 15%;
    }
    #texto h1{
        margin-left: 20%
    }
    #bajo{
        margin-left: 15%;
    }
    body{
        background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg.);
        background-image: url(../starter-code/assets/destination/background-destination-tablet.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
}
@media (max-width:425px){
    #derecha{
        margin-left: 5.5%;
    }
    #derecha #texto{
        width: 80%;
    }
    #texto h1{
        font-size: 50px;
    }
    #texto p{
        line-height: 27px;
        font-size: 15px;
    }
    #izquierda #text{
        width: 80%;
    }
    #text #img{
        width: 60%;
        margin-left: 15%;
    }
    #text h1{
        font-size: 20px;
        margin-left: 10%;
    }
    .card h1{
        font-size: 25px;
    }
    body{
        background-image: url(../starter-code/assets/destination/background-destination-tablet.jpg.);
        background-image: url(../starter-code/assets/destination/background-destination-mobile.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
}