*{
    margin: 0 auto;
    padding: 0 auto;  
}

header{
    display: flex;
    align-items: center;
    padding: 2% 0 0 3%;
}
hr{
    min-width: 35%;
    position: absolute;
    left: 10%;
    border-color: rgba(221, 221, 221, 0.622);

}
header #logo{
    margin: 0;
    
}
header #menu{

    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 19%;
    margin-right: 0;
    background-color: rgba(56, 56, 56, 0.348);
}
#menu li a{
    text-decoration: none;
    color: rgb(221, 221, 221);
    margin: 0 20px;
}
#menu li :hover{
    padding: 30px 0;
    border-bottom: 4px solid rgb(152, 152, 152);
}
#menu li{
    padding: 30px 0;
}
@media (max-width:768px){
    hr{
        border-color: rgba(221, 221, 221, 0);
    }
}