
body{
    background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* INICIO ENCABEZADO */

#menu li:nth-child(1) {
    border-bottom: 4px solid white;
}


/* INICIO CENTRO */
#content{
    margin-top: 8%;
    display: flex;
}
#content #izquierda{
    color: rgb(221, 221, 221);
    margin: 11%;
}
#izquierda h2{
    font-size: 35px;
    font-weight: 10;
}
#izquierda h1{
    font-size: 150px;
    font-weight: 1;
    margin: 10px 0 15px 0;
}
#izquierda p{
    line-height: 25px;
    font-size: 19px;
}
#btnderecha{
    border-radius: 100%;
    margin-top: 250px;
    padding: 120px 70px;
    font-size: 30px;
    font-weight: 100;
    border: none;
}
@media (max-width:768px){
    #content{
        flex-direction: column;
    }
    #btnderecha{
        margin-top: 100px;
    }
    body{
        background-image: url(../starter-code/assets/home/background-home-desktop.jpg.);
        background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}