body{
    background-image: url(../starter-code/assets/technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#menu li:nth-child(4) {
    border-bottom: 4px solid white;
}
#content{
    color: rgb(206, 204, 204);
    display: flex;
    margin-top: 9%;
    margin-bottom: 7%;
}
#izquierda{
    margin-left: 12%;
    min-width: 35%;
}
#derecha{
    min-width: 40%;
}
#izquierda #titulo h3 {
    font-size: 35px;
    font-weight: 100;
}
#izquierda #descrip{
    margin-top: 17%;
    display: flex;
    justify-content: space-between;
}
#nume {
    list-style: none;
    font-size: 45px;
    margin-top: 3%;
}
#nume .num{
    margin-bottom: 50px;
}
.num a{
    text-decoration: none;
    color: white;
    border-radius: 100%;
    border: 1px solid #484c5594;
    padding: 10px 25px;
    box-sizing: border-box;
}
#texto{
    margin-left: 10%;
}
#texto h4{
    font-weight: 100;
}
#texto h1{
    font-size: 70px;
    font-weight: 100;
    font-weight: 100;
}
#texto p{
    color: rgb(160, 180, 188);
    font-size: 20px;
    line-height: 30px;
    margin-right: 17%;
}
@media (max-width:768px){
    #content{
        flex-direction:column;
    }
    #izquierda{
        margin-bottom: 7%;
    }
    body{
        background-image: url(../starter-code/assets/technology/background-technology-desktop.jpg.);
        background-image: url(../starter-code/assets/technology/background-technology-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width:425px){
    #izquierda #descrip{
        margin-left: 5%;
        flex-direction: column-reverse;
    }
    #nume{
        display: flex;
        margin-left: 0;
        margin-right: 10%;
        margin-top: 10%;
    }
    #izquierda{
        width: 95%;
        margin-left: 0;
    }
    #izquierda #titulo h3{
        font-size: 20px;
        margin-left: 20%;
    }
    #texto h1{
        font-size: 30px;
        margin: 10px 0;
    }
    #texto p{
        font-size: 15px;
        line-height: 23px;
        width: 90%;
        margin-left: 0;
        padding-left: 0;
    }
    #nume {
        font-size: 25px;
    }
    .num a{ 
        padding: 7px 15px;
    }
    #derecha{
        width: 90%;
    }
    #derecha #img{
        width: 100%;
    }
    body{
        background-image: url(../starter-code/assets/technology/background-technology-tablet.jpg.);
        background-image: url(../starter-code/assets/technology/background-technology-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}